body{
    height: 100%;
    width: 100%;
    font-family: Roboto;
    text-align: center;
    margin: 0;
}

#anfrage{
    color: white;
    position: absolute;
    top: 0px;
}

#minigames {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 5;
}

.game {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}


/**************OVERVIEW***************/
.overview{
    display: flex;
}

.overview>div{
    background-color: lightskyblue;
    margin: 10vh 5vw;
    width: 90vw;
    height: 80vh;
}

.overview #grid{
    width: 90vw;
    height: 80vh;
    display: grid;
    grid-template-areas: 'live-view live-view chat' 'map story chat';
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 60% 40%;
}

.live-view{
    grid-area: live-view;
    background-color: rgb(109, 218, 218);
}

.chat{
    grid-area: chat;
    background-color: rgb(78, 123, 123);
}

.story{
    grid-area: story;
    background-color: rgb(10, 163, 163);
}

.map{
    grid-area: map;
    background-color: rgb(35, 63, 63);
}